
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
   
    font-family: "Red Hat Text", sans-serif;
    background-color: hsl(0, 0%, 100%);
    color:  hsl(336, 64%, 35%);
    line-height: 1.5;
}


.container {
    display:flex;
    align-items:first baseline;
    gap: 2rem;
    padding: 5rem;
}

main {
    display:flex;
    flex-direction: column;
    flex: 2;
}

.products {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 50px;
}

.article {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.details {
    display:flex;
    flex-direction:column;
    position: relative;
    margin-top: 45px;
}

.site_title {
    color:  hsl(336, 64%, 35%);
    font-weight: 500;
    font-family: "Poltawski Nowy", serif;
    text-align: center;
}

p {
 font-weight: 400;
}

.title {

    color:  hsl(336, 64%, 35%);
    font-weight: 500;
    margin:0;
    font-size: 15px;
    font-family: "Poltawski Nowy", serif;
    
}


.sub_title {
    
    color:hsl(7, 20%, 60%);
    margin:0;
    font-size: 15px;
}

.price {
    
    color:  hsl(336, 86%, 67%);
    margin:0;
    font-size: 15px;
}

.image_container {
    position: relative;
}


.image_container img {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin-bottom: 0.6rem;
  }

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:90%;
    cursor: pointer;
    align-self: center;
    border: 1.2px solid hsl(336, 64%, 35%);;
    color:hsl(14, 65%, 9%);
    padding: 15px 25px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 30px;
    display: flex;
    gap:10px;
    white-space: nowrap;
}

button i {
   color:  hsl(336, 72%, 55%);
}

.cart {
    padding:30px;
    background-color: white;
    border-radius: 20px;
    border:  hsl(336, 72%, 55%);
}

.cart_title {
    color:  hsl(336, 72%, 55%);
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Poltawski Nowy", serif;
}

.cart h5 {
    color:hsl(14, 66%, 22%);
    font-weight: 500;
}

.cart_content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
